.like {
    fill: #fff;
}

.active {
    .like {
        animation: like_animation .2s ease;
        opacity: .8;
        fill: red !important;
    }
}

@keyframes like_animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}